# ### === GENERAL SETTINGS === ###
NUXT_APP_BASE_URL="/"          # App base path (leave / unless you're using subdirs)
APP_ENV="production"                # 'local' or 'production'
APP_VERSION="1.0"

MAIN_API_URL=http://192.168.100.85:8000

# ### === BROADCASTING (REVERB) === ###
NUXT_PUBLIC_BROADCAST_CONNECTION=reverb
NUXT_PUBLIC_REVERB_APP_ID=290838
NUXT_PUBLIC_REVERB_APP_KEY=vhy4mrtlhdwa61lukcze
NUXT_PUBLIC_REVERB_APP_SECRET=t2xsdrx1t5dothfomula

# Change to IP for LAN access
NUXT_PUBLIC_REVERB_HOST=192.168.100.85
NUXT_PUBLIC_REVERB_PORT=6001
NUXT_PUBLIC_REVERB_SCHEME=http # or 'https' if using SSL

# Server binding (0.0.0.0 allows access from other devices on LAN)
NUXT_PUBLIC_REVERB_SERVER_HOST=192.168.100.85
NUXT_PUBLIC_REVERB_SERVER_PORT=6001
NUXT_PUBLIC_REVERB_SERVER_PATH=